.LeftSideWrapper {
  width: 100%;
  text-align: center;
  height: 100vh;
}
.imgLeft:hover,
.imgLeftBusiness:hover,
.LeftSideWrapper ul li:hover {
  background-color: rgb(4, 122, 4);
  color: white;
}
.activeClass {
  background-color: rgb(25, 118, 210);
  color: white;
}
/* .activeClass div img {
  filter: invert(1) brightness(600%);
  color: white;
} */
.LeftSideWrapper ul li:hover div img {
  filter: invert(1) brightness(600%);
  color: white;
}
.LeftSideWrapper ul {
  padding: 0 3vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.LeftSideWrapper ul li {
  margin: 5px;
  padding: 10px 0;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
}
.LeftSideWrapper ul li div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-left: 15%;
}
.LeftSideWrapper ul li div span {
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 13px;
}

.imgLeftBusiness {
  width: 20px;
  margin-right: 10px;
}
.imgLeft {
  width: 30px;
  margin-right: 10px;
}
.LeftSideWrapper ul {
  list-style: none;
  padding: 0px;
  width: 80%;
  margin: auto;
  margin-top: 0px;
}
.masetawoshaIcon {
  width: 15vw;
}
