.tableWrapper {
  overflow-x: scroll;
  /* margin: auto; */
}

.maxSelectionForm {
  max-width: 300px;
  /* margin: 10px auto; */
  padding: 20px 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#selectTimeRange {
  width: 150px;
  padding: 16px !important;
}
.othersDateRange {
  /* max-width: 200px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin: auto; */
}
.maxSelectionForm select {
  width: 100%;
  max-width: 200px;
  border-radius: 10px;
}
.maximumTitle {
  padding: 10px;
}
.fromDateToDate {
  padding: 10px;
}
