.loginWrapper {
  background-color: white;
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow-y: hidden;
}
.loginForm {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  align-items: center;
}
.loginForm div {
  text-align: center;
}
.greetingToLogin {
  display: flex;
  max-width: 554px;
  height: 35px;
  flex-direction: column;
  flex-shrink: 0;
  margin: 20px auto;
  color: rgba(42, 42, 42, 0.5);
  font-size: 20px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.loginRightSide {
  width: 48%;
  display: none;
}
.loginRightSide img {
  width: 100%;
}

.gladMessage {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin: auto;
  color: #2a2a2a;
  font-size: 20px;
  font-family: Plus Jakarta Sans;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.btnLogin {
  width: 200px;
}
.loginForm div {
  max-width: 400px;
}
.titleTohaveAccount {
  display: flex;
  /* text-align: center; */
  /* justify-content: center; */
  align-items: center;
  width: fit-content;
  /* margin: auto; */
}
.RegisterTex {
  color: #6998ff;
  text-decoration: none;
  /* margin-bottom: 10px; */
}
#LinearProgress {
  display: none;
}
.help {
  color: #6998ff;
  cursor: pointer;
  margin-top: 10px;
}
.signupRegister {
  /* cursor: pointer; */
  text-decoration: none;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 15px;
  color: rgba(46, 46, 46, 0.5);
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.LeftSide {
  padding: 4vw;
}
.passwordForgotten {
  padding: 20px 0;
  text-decoration: none;
  color: #6998ff;
}
.helpClass {
  font-family: "Plus Jakarta Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #2a2a2a80;
}

@media screen and (min-width: 768px) {
  .loginRightSide {
    display: block;
  }
  .LeftSide {
    width: 40vw;
  }
}
